---
title: "RailsでGeminiAPIを実装してみた(超初学者向け)"
emoji: "💻"
type: "tech"
topics: ["ruby", "rails", "rspec"]
published: false
---
